.h {
    display: flex;
    justify-content: space-between;
    color: whitesmoke; 
    mix-blend-mode: difference;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.v {
    display: none;
}

.h a, 
.v a {
    font-size: 30px;
}