.h{
  display: flex;
  justify-content: space-between;
  color: whitesmoke; 
  mix-blend-mode: difference;
  position: fixed;
  top: 13px;
  left: 25px;
  right: 25px;
}

.v{
  display: none;
}

@media (max-width: 480px) {
    .h {
      display: none;
    }
    .v {
      position: fixed;
      display: flex;
      justify-content: flex-start;
      top: 15px;
      left: 20px;
      right: 20px;
    }
}
