.about {
  background-color:#1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  grid-column: span 12;
  height: 100vh;
}

.text {
  float: left;
  width:65%;
  height: 100%;
  padding: 25px;
  padding-top: 30%;
  background-color:#1d1d1d;
}

.text h2,
.text p {
  font-family: NeueBit;
  font-weight: 300;
  color: whitesmoke;
  padding-right: 10%;
}

.text a,
.text a:visited {
  color: rgb(155, 153, 153);
}
.text a:hover {
  color: whitesmoke;
}

.about h2 {
  font-size: 120px;
}

.about h3 {
  margin-top: 75px;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .text {
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 25%;
  }
}

@media (max-width: 480px) {

  .about {
    height: 100vh;
  }

  .text {
    overflow:hidden;
   }

  .text h2 {
    padding-top: 30%;
    font-size: 70px;
  }
  
  .text p {
    padding-right: 0%;
  }
}