/* ####### CÓDIGO DEFAULT ########*/

@font-face {
  font-family: NeueBit;
  src: url('/fonts/NeueBit-Bold.otf');
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ####### CÓDIGO SERGIO EMNPIEZA AQUÍ ########*/
/* ##### ESTILOS TEXTO GENERAL ########*/

h1 {
  font-family: NeueBit;
  font-weight: 300;
  color: whitesmoke;
  font-size: 75px;
}

h2 {
  font-family: NeueBit;
  color: whitesmoke;
  font-size: 54px;
  line-height: 0.8;
  margin-bottom: 40px;
}

h3 {
  font-family: NeueBit;
  color: whitesmoke;
  font-size: 36px;
  line-height: 0.9;
}

p {
  color: whitesmoke;
  font-size: 30px;
  line-height: 0.9;
  margin-bottom: 25px;
}

p.title {
  line-height: 2;
}

a,
a:visited {
  font-family: NeueBit;
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: rgb(98, 97, 97);
  transition-duration: 0.3s;
}

/*  ########### Estilo del contenido en Desktop ########### */

main{
  font-family: NEUEBIT;
  font-size: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: dense;
}

.half-width {
  grid-column: span 6;
  height: 100vh;
  width: 100%;
}

.full-width {
  grid-column: span 12;
}

/* BLOQUES HTML A OCULTAR EN DESKTOP <div class="img-#">*/

[class^='img-v'] {
  display: none;
}


.list {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-bottom: 75px;
}

.list {
  background-color:#1d1d1d;
}

ul li {
  font-family: NeueBit;
  font-weight: 300;
  color: whitesmoke;
  font-size: 30px;
  line-height: 0.9;
}

/*************/
/* HOME PAGE */
/*************/


.home-project-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



/**************/
/* INNER PAGE */
/**************/

.inner-header-project-info-container{
  position: fixed;
  top: 75px;
  width: 100%;
  display: grid;
  grid-template-columns: inherit;
  color: whitesmoke;
  mix-blend-mode: difference;
}
.inner-project-title{
  font-size: 30px;
  padding-left: 25px;
  height: auto;
}
.inner-project-meta{
  height: auto;
  text-align: right;
  padding-right: 25px;
}
.inner-project-meta p{
  margin: 0;
  font-size: 20px;
}
/* Year ↓ */
.inner-project-meta p span{
  margin-left: 8px;
}
.inner-project-img{
  width: 100%;
  height: 100vh;
  object-fit: contain;
  object-position: center;
  padding: 50px 25px;
}




/*****************/
/* MEDIA QUERIES */
/*****************/

@media (max-width: 800px) {
  /* CAMBIO WIDTH SECTION MOBILE*/

  .half-width{
    grid-column: span 12;
  }

  /* SECCIONES OCULTAS MOBILE*/

  [class^='fill'] {
    display: none;
  }

  [class^='img-h'] {
    display: none;
  }

  [class^='img-w'] {
    display: none;
  }

  [class^='img-v'] {
    display: grid;
  }

  .img-about {
    display: none;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 72px;
  }

  h3 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 8px;
  }

  p {
    font-size: 35px;
    margin-top: 25%;
  }

  /* AJUSTES IMGs BACKGROUND PARA MOBILE*/

  .img-10 {
    background-position: 62%;
  }
}
